/********MODAL**************/

body {
    margin: 0;
}

#login-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b6d8d5;
}


.modal-window {
    background-color: #c45238;
    border-radius: 5px;
    position: relative;
    padding: 40px;
    box-sizing: border-box;

}

input, button {
    width: 250px;
    height: 40px;
    font-size: 16px;
    margin: 5px auto;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #061b33;
    color: #eaeaea;
}

button {
    cursor: pointer;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

@media (max-width: 425px) {
    .modal-window {
        width: 100%;
    }
    input, button {
        width: 90%;
    }
}
/******************************/